* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    font-family: 'Fira Sans Condensed', sans-serif;
}

input {
    margin: 1.5em 0;
}

select {
    width: 100%;
    max-width: 18em;
    margin-top: 1em;
    border-radius: 5px 5px;
}

hr {
    color: #fff;
}

/*Background Image Styling*/
#background-image {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    flex-shrink: 0;
    min-height: 100vh;
    max-width: 100%;
    object-fit: cover;
    /* opacity: 30%; */
}

#background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#main-container {
    width: 100%;
}


/*Header section*/


/*Survey Form Section*/


#survey-form {
    display: flex;
    flex-direction: column;
    /* width: 300px; */
    max-width: 500px;
    height: auto;
    padding: 1em;
    border-radius: 5px 5px;
    background-color: rgb(255, 255, 255);

    box-shadow: darkslategray 5px 10px 10px 5px;
    margin: 5em auto;
}

#survey-form>div {
    min-height: 8vh;
    margin: .5em 0;
    border-radius: 5px 5px;
    padding: 1.5em;
    color: #000;
}

/* #survey-form > div:nth-child(1), #survey-form > div:nth-child(7), #survey-form > div:nth-child(11) {
    background: linear-gradient(180deg, rgba(26, 2, 46), rgba(70, 13, 117), rgba(124, 46, 189));
}


#survey-form > div:nth-child(2n+0) {
    background: linear-gradient(180deg, rgb(194, 55, 0), rgba(255, 104, 44), rgba(255, 136, 89));
}

#survey-form > div:nth-child(3n+0) {
    background: linear-gradient(180deg, rgb(0, 59, 0), rgba(43, 150, 43), rgba(78, 177, 78));
}

#survey-form > div:nth-child(5n+0) {
    background: linear-gradient(180deg, rgb(93, 2, 53), rgba(151, 43, 104), rgba(177, 78, 134));
} */



input[type=text],
input[type=email],
input[type=number] {
    height: 2.5em;
    width: 100%;
    max-width: 18em;
    border-radius: 5px 5px;
}

/* input[type="textarea"] {
    width: 100%;
    max-width: 50vw;
    height: 10em;
    border-radius: 5px 5px;
} */

textarea {
    width: 100%;
    max-width: 50vw;
    height: 10em;
    border-radius: 5px 5px;

}

#survey-form>div>label {
    font-size: 1.2em;
}


/*Thank you Section Styling*/
#thank-you-section > p {
    text-align: center;
}

/*Submit Button Styling*/

#submit {
    width: 12em;
    height: 3em;
    border: none;
    border-radius: 5px 5px;
    background-color: rgb(11, 167, 11);
    color: #fff;
    align-self: center;
}


@media (max-width: 680px) {
    #survey-form {
        max-width: 275px;
    }
}