* {
    box-sizing: border-box;
}

html {
    height:100%;
}


select{
    width: 100%;
    max-width: 18em;
    margin-top: 1em;
    border-radius: 5px 5px;
}


#background-image {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    height: auto;
    width: 100%;
    opacity: 30%;
}


/*Form Section*/
#survey-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 1em;
    border-radius: 5px 5px;
    background-color: #fff;
}

input[type=text],
input[type=email],
input[type=number] {
    height: 2.5em;
    width: 100%;
    max-width: 18em;
}

input[type=checkbox] {
    
}

input[type="textarea"] {
    width: 50%;
    height: 10em;
    border-radius: 5px 5px;
}

.section {
    min-height: 8em;
    border-radius: 5px 5px;
    padding: 2em;
}

.section1 {
    background: linear-gradient(80deg, rgb(133, 8, 236,.7), rgb(144, 62, 199,.7), rgb(200, 99, 24,.7));
}


/*Submit Button Styling*/
#submit {
    width: 12em;
    height: 3em;
    border: none;
    border-radius: 5px 5px;
    background-color: rgb(11, 167, 11);
    color: #fff;
    align-self: center;
}