* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    font-family: 'Fira Sans Condensed', sans-serif;
}

input {
    margin: 1.5em 0;
}

select {
    width: 100%;
    max-width: 18em;
    margin-top: 1em;
    border-radius: 5px 5px;
}

hr {
    color: #fff;
}

/*Background Image Styling*/
#background-image {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    flex-shrink: 0;
    min-height: 100vh;
    max-width: 100%;
    object-fit: cover;
}

#background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#main-container {
    width: 100%;
}

/*Survey Form Section*/
/*Survey Header Section*/
.survey-header {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.survey-title-desc{
    position: relative;
    margin-top: -10em;
    padding: 1.5em;
    z-index: 2;
}

.custom-shape-divider-top {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1;
}

.custom-shape-divider-top svg {
    position: relative;
    width: calc(137% + 1.3px);
    height: 200px;
}


#survey-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: auto;
    border-radius: 5px 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: darkslategray 5px 10px 10px 5px;
    margin: 5em auto;
}

#survey-form>div {
    min-height: 8vh;
    margin: .5em 0;
    border-radius: 5px 5px;
    padding: 1.5em;
    color: #000;
}


input[type=text],
input[type=email],
input[type=number] {
    height: 2.5em;
    width: 100%;
    max-width: 18em;
    border-radius: 5px 5px;
}

textarea {
    width: 100%;
    max-width: 50vw;
    height: 10em;
    border-radius: 5px 5px;

}

#survey-form>div>label {
    font-size: 1.2em;
}


/*Thank you Section Styling*/
#thank-you-section > p {
    text-align: center;
    margin: 0;
}

/*Submit Button Styling*/

#submit {
    width: 12em;
    height: 3em;
    border: none;
    border-radius: 5px 5px;
    background-color: rgb(11, 167, 11);
    color: #fff;
    align-self: center;
}


@media (max-width: 680px) {
    #survey-form {
        max-width: 275px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1593552468 svg {
        width: calc(160% + 1.3px);
        height: 200px;
    }
}